In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [6]:
a=pd.Series(["a",2,3,4,5],index=[0,1,2,3,4])

In [7]:
a

0    a
1    2
2    3
3    4
4    5
dtype: object

In [9]:
animals={"wild":{1:'lion',2:'tiger',3:'elephant'},"domestic":{1:'vasanth',2:'cat',3:'dog'}}

In [11]:
d=pd.DataFrame(animals,columns=["wild","domestic"])

In [12]:
d

       wild domestic
1      lion  vasanth
2     tiger      cat
3  elephant      dog